<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm py-2">
    <div class="container-fluid">
      <button class="btn d-lg-none" id="sidebarToggle">
        <i class="fas fa-bars"></i>
      </button>
  
      <div class="ms-auto">
        <div class="dropdown">
          <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img
              class="rounded-circle me-2"
              src="https://ui-avatars.com/api/?name=Admin&background=0D8ABC&color=fff"
              alt="Admin"
              width="32"
              height="32"
            />
            <span>Admin</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="../pages/profile.html">Hồ sơ</a></li>
            <li><a class="dropdown-item" href="../pages/settings.html">Cài đặt</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="../pages/logout.html">Đăng xuất</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>